<% if has_like?(post, current_user) %>
  <h1>
    <%= link_to like_path(id: post.id), method: :delete do %>
      <i class="fas fa-thumbs-up"></i><%= count_likes(post) %>
    <% end %>
  </h1>
<% else %>
  <h1>
    <%= link_to likes_path(id: post.id), method: :post do %>
      <i class="far fa-thumbs-up"></i><%= count_likes(post) %>
    <% end %>
  </h1>
<% end %>