<div class="card-sm">
  <ul class="list-group list-group-flush">
    <div class="card-header">User follower:</div>
    <% @followers.each do |flw| %>
      <li class="list-group-item"><%= link_to flw.name, user_path(flw) %></li>
    <% end %>
  </ul>
</div>