<footer class="footer py-3 bg-light">
  <div class="container">
  <nav class="navbar navbar-light bg-light border-bottom-0">
    <div class="container">
    <span class="navbar-text">
      <p>&copy; lyamsh.  This is footer </p>
    </span>
    </div>
  </nav>
  </div>
</footer>