<footer>
  <nav class="navbar navbar-light bg-light border-bottom-0">
    <div class="container-fluid">
    <span class="navbar-text">
      <p>&copy; lyamsh.  This is footer </p>
    </span>
    </div>
  </nav>

</footer>